{% extends 'blog/base.html' %}

{% block content %}

<style media="screen">
div.image {
  position: relative;
  left: 750px;
  bottom:  250px;
}
</style>

  <div class="jumbotron">

    <h2>Please Login: </h2>
    <h3>(Must be SuperUser, please check admin for issues.)</h3>
    {% if form.errors %}
        <p>Your username and password didn't match.Please try again!</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
        {{form.as_p}}

        <input type="submit" class='btn btn-primary' value="login" />
        <input type="hidden" name="next" value="http://127.0.0.1:8000/" />
    </form>
  </div>

  <div class="image">
    <img src="https://i.imgur.com/RckIFBJ.png" width="400" height="400">
  </div>

{% endblock %}
